.about-title {
  margin-bottom: 2em;
}

blockquote {
  font-size: 1.2em;
  font-weight: 700;
}

blockquote p {
  font-size: 0.8em;
  font-style: italic;
  font-weight: 400;
}

section {
  text-align: center;
}