@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background-image: url('../img/jane.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

header {
  background-color: white;
  border-bottom: #c3c3c3 solid 2px;
  padding: 1em 0;
  text-align: center;
}

h1 {
  margin-top: 0;
  text-transform: uppercase;
}

nav ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li a strong,
nav ul li a:hover {
  color: red;
}

section {
  background-color: white;
  padding: 2em 12em;
}

footer {
  background-color: #f3f3f3;
  font-weight: 400;
  padding: 0.5em 0;
  text-align: center;
}